# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Dokumente\2_Studium_4-Semester\Introduction_to_Artificial_Intelligence_1\AI1_Project_TentsAndTreesPuzzle_Solver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
